<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.develop.sns">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.ApplicationManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ModuleActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SubModuleActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.otp.OtpActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".signup.info.SignUpInfoActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".signup.mobileno.SignUpMobileActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".signup.userdetail.SignUpUserDetailActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".home.HomeActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".home.details.ItemDetailsActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".signup.password.SignUpPasswordActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".home.profile.LanguageSelectionActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".home.product.VarietyListActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".home.product.BrandListActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".home.offers.FilterActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".cart.CartItemActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".service.ProductsService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>